.board .card .card-body .footer .score { position: absolute; font-size: 10px; right: 30px; top: -18px; height: 15px; background-color: rgba(98, 180, 248, 0.7); color: #fff;  padding: 0 5px; border-radius: 3px; }
.board .board-body .column-ct .column .column-header .total-score { color: #fff; margin-left: 10px;  padding: 0 5px; background-color: #62B4F8; border-radius: 3px; vertical-align: top; display: inline-block;  font-size: 14px; line-height: 20px; height: 20px; margin-top: 7px; }


div.size-container { display: none; }
.board .card .card-header button.size { display: none; }
